@import './materialize/materialize';
@import './consts';
@import './home';
@import './experimentalPhysics';
@import './numericalCalculations';
@import './electricCircuits';

@font-face {
  font-family: PTSans;
  src: url('../static/PTSans.ttf');
}

body {
  margin: 0;
  font-family: PTSans;
  color: #252525;
  background-color: #FAFAFA;
  overflow-y: hidden;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  display: flex;
  margin-top: 20px;
  font-size: 2.6rem;

  &::before {
    content: "";
    display: inline-block;
    align-self: center;
    height: 2.6rem;
    width: 2px;
    margin-right: 4px;
    background-color: #252525;
  }
}

a {
  color: #252525;
}

.switch {
  display: flex;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  a {
    flex: 1;
    padding: 12px 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
      background-color: #F6F6F6;
    }

    &.active {
      border-bottom: 3px solid $purple;
    }
  }
}

.inline-input {
  display: inline-flex;
  align-items: center;

  span {
    margin: 0 10px;
    font-size: 1.8rem;
  }

  .input-field {
    input {
      font-size: 1.8rem;
    }
    
    /* Spin Buttons modified */
    input[type=number]::-webkit-outer-spin-button, 
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      background: transparent url('../imgs/updown.svg') no-repeat center center;
      background-size: .75rem auto;
      width: .75rem;
      opacity: .4;
      position: absolute;
      top: calc(50% - .75rem);
      right: 0;
      bottom: 0;
      filter: brightness(0);
      transition: filter 0.4s, opacity 0.4s;
    }

    input[type=number]::-webkit-inner-spin-button:hover,
    input[type=number]::-webkit-inner-spin-button:active,
    input[type=number]:focus::-webkit-inner-spin-button  {
      opacity: 1;
      filter: none;
    }
  }
}

section {
  display: inline-flex;
  padding: 0 calc(100vw / 12 + 20px);
  width: 100%;

  & > div {
    flex: 1;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.info {
    display: block;

    span {
      font-style: italic;
      color: #4c4c4c;
    }
  }

  &:not(:first-child) {
    margin-top: 20px;
  }
}

header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  .header {
    display: inline-flex;
    height: $header-height;
    width: 100%;
    background-color: $purple;
    -webkit-app-region: drag;
    justify-content: space-between;

    & > img {
      height: 100%;
      padding: 6px;
      object-fit: contain;
      object-position: left;
    }

    & > div {
      -webkit-app-region: no-drag;

      img {
        width: $header-height;
        height: 100%;
        padding: 12px;
        cursor: pointer;
        filter: brightness(.75);
        transition: filter 0.4s, background-color 0.4s;

        &:hover {
          background-color: $light-purple;
          filter: none;
        }
      }
    }
  }

  .subheader {
    display: flex;
    height: $subheader-height;
    cursor: pointer;
    background-color: #FFF;
    margin-top: 0;
    padding: 0;
  
    a {
      flex: 1;
      font-weight: bold;
      font-size: 1.6rem;
      text-align: center;
      line-height: $subheader-height;
      transition: background-color 0.4s;
      user-select: none;

      &:hover {
        background-color: #F6F6F6;
      }
  
      &.active {
        border-bottom: 3px solid $purple;
      }
    }
  }
}