@import '../static/materialize.css';
$purple: #6557D2;
$light-purple: rgb(125, 113, 255);

@font-face {
  font-family: PTSans;
  src: url('../static/PTSans.ttf');
}

body {
  margin: 0;
  font-family: PTSans;
  color: #252525;
  background-color: #FAFAFA;
  overflow-y: hidden;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  display: flex;
  margin-top: 20px;
  font-size: 2.6rem;

  &::before {
    content: "";
    display: inline-block;
    align-self: center;
    height: 2.6rem;
    width: 2px;
    margin-right: 4px;
    background-color: #252525;
  }
}

header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  .header {
    display: inline-flex;
    height: 40px;
    width: 100%;
    background-color: $purple;
    -webkit-app-region: drag;
    justify-content: space-between;

    & > img {
      height: 100%;
      padding: 6px;
      object-fit: contain;
      object-position: left;
    }

    & > div {
      -webkit-app-region: no-drag;

      img {
        width: 40px;
        height: 100%;
        padding: 12px;
        cursor: pointer;
        filter: brightness(.75);
        transition: filter 0.4s, background-color 0.4s;

        &:hover {
          background-color: $light-purple;
          filter: none;
        }
      }
    }
  }

  .subheader {
    display: flex;
    height: 80px;
    cursor: pointer;
    background-color: #FFF;
  
    a {
      flex: 1;
      font-weight: bold;
      font-size: 1.6rem;
      text-align: center;
      color: #252525;
      line-height: 80px;
    }
  }
}

.home {
  section {
    height: calc(100vh -  40px - 80px - 40px);
    padding: 20px calc(100vw / 12 + 20px);

    h1 {
      text-align: center;
    }

    p {
      font-size: 1.4rem;
    }
  }

  footer {
    display: inline-flex;
    width: 100%;
    height: 40px;
    padding: 6px 10px;
    justify-content: space-between;
    align-items: flex-end;

    div {
      display: inherit;
      height: 100%;

      a {
        display: inherit;
        color: #4c4c4c;
        height: 100%;
        margin-right: 15px;
        align-items: flex-end;
  
        img {
          height: 100%;
          margin-right: 5px;
        }
      }
    }

    p {
      font-style: italic;
      margin: 0;
      color: #4c4c4c;

      & b {
        color: $light-purple;
      }
    }
  }
}